{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "FireAnt RESTFUL API",
    "description": "Tài liệu đặc tả FireAnt RESTFUL API v1.0.0"
  },
  "host": "restv2.fireant.vn",
  "schemes": [
    "https"
  ],
  "paths": {
    "/academy/subjects": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy danh sách chủ đề khóa học",
        "operationId": "Academy_GetCourseSubjects",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Subject"
              }
            }
          },
          "500": {
            "description": "Lỗi hệ thống"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/subjects/{subjectId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy thông tin chủ đề khóa học",
        "operationId": "Academy_GetCourseSubject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "description": "ID của chủ đề",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Subject"
            }
          },
          "500": {
            "description": "Lỗi hệ thống"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/{courseId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy thông tin khóa học theo ID",
        "operationId": "Academy_GetCourse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "ID của khóa học",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Course"
              }
            }
          },
          "404": {
            "description": "Bài giảng không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/levels": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy danh sách tất cả cấp độ của các khóa học",
        "operationId": "Academy_GetAllCoursesLevel",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.CoursesLevel"
              }
            }
          },
          "500": {
            "description": "Có lỗi khi lấy danh sách cấp độ của khóa học"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy danh sách khóa học",
        "operationId": "Academy_GetCourses",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subjectId",
            "in": "query",
            "description": "Lọc theo chủ đề khóa học (Mặc định là 0, lấy tất cả)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Phân loại (0: lớp học, 1: hội thảo, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Lọc theo cấp độ khóa học (Basic, Advance...)",
            "required": false,
            "type": "string"
          },
          {
            "name": "isHot",
            "in": "query",
            "description": "Lọc theo khóa học nổi bật",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Vị trí bản ghi đầu tiên lấy về (Dùng để phân trang, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Số lượng tối đa bản ghi lấy về (Dùng để phân trang, mặc địch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Course"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/recordCount": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy số lượng khóa học",
        "operationId": "Academy_GetCoursesCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "subjectId",
            "in": "query",
            "description": "Lọc theo chủ đề khóa học (0: tất cả chủ đề)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Lọc theo cấp độ khóa học (Basic, Advance...)",
            "required": false,
            "type": "string"
          },
          {
            "name": "isHot",
            "in": "query",
            "description": "Lọc theo khóa học nổi bật",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "500": {
            "description": "Có lỗi khi lấy danh sách khóa học"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/{courseID}/thumbnail": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy ảnh đại diện của khóa học",
        "operationId": "Academy_GetCourseImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "courseID",
            "in": "path",
            "description": "ID ảnh",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "width",
            "in": "query",
            "description": "Chiều rộng ảnh (=0 nếu muốn lấy kích thước đầy đủ, mặc định = 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "height",
            "in": "query",
            "description": "Chiều cao ảnh (=0 nếu muốn lấy kích thước đầy đủ, mặc định = 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "404": {
            "description": "Không tìm thấy tài nguyên"
          }
        }
      }
    },
    "/academy/courses/{courseId}/lessons": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy danh sách bài giảng của khóa học",
        "operationId": "Academy_GetLessons",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "ID của khóa hoc",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Lesson"
              }
            }
          },
          "404": {
            "description": "Khóa học không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/courses/{courseId}/isEnrolled": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Kiểm tra xem user đã đăng ký khóa học hay chưa",
        "operationId": "Academy_CheckEnrollment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "description": "Id của khóa học",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/lessons/{lessonId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy thông tin bài giảng theo ID",
        "operationId": "Academy_GetLesson",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID của bài giảng",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Lesson"
              }
            }
          },
          "404": {
            "description": "Bài giảng không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/news": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy danh sách tin tức",
        "operationId": "Academy_GetNews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "isHot",
            "in": "query",
            "description": "Lọc theo tin nổi bật",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Vị trí bản ghi đầu tiên lấy về (Dùng để phân trang, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Số lượng tối đa bản ghi lấy về (Dùng để phân trang, mặc địch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.News"
              }
            }
          },
          "500": {
            "description": "Có lỗi khi lấy tin tức"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/news/{newsId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy thông tin của tin tức theo ID",
        "operationId": "Academy_GetNews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "ID của tin",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.News"
            }
          },
          "404": {
            "description": "Tin không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/news/recordCount": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy số lượng tin tức",
        "operationId": "Academy_GetNewsCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "isHot",
            "in": "query",
            "description": "Lọc theo tin nổi bật",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/news/{newsId}/thumbnail": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy ảnh đại diện của tin",
        "operationId": "Academy_GetNewsThumbnail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "ID của tin",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "width",
            "in": "query",
            "description": "Kích thước chiều rộng của ảnh",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "height",
            "in": "query",
            "description": "Kích thước chiều cao của ảnh",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          },
          "500": {
            "description": "Có lỗi khi lấy ảnh đại diện của tin"
          }
        }
      }
    },
    "/academy/classes/{classId}/teachers": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy danh sách giảng viên của lớp học",
        "operationId": "Academy_GetTeacherAssignments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID của khóa học",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Teacher"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy danh sách các lớp học",
        "operationId": "Academy_GetClasses",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Trạng thái lớp học (0: chưa diễn ra, 1: đang tuyển sinh, 2: đã kết thúc, mặc định là 1)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Vị trí bản ghi đầu tiên lấy về (Dùng để phân trang, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Số lượng tối đa bản ghi lấy về (Dùng để phân trang, mặc địch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Class"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/{classId}/schedule": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy thông tin lịch học",
        "operationId": "Academy_GetCourseSchedules",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID của lớp học",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.CourseSchedule"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/ownedClasses": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy danh sách lớp học của tôi",
        "operationId": "Academy_GetOwnedClass",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Phân loại (0: lớp học, 1: hội thảo, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Vị trí bản ghi đầu tiên lấy về (Dùng để phân trang, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Số lượng tối đa bản ghi lấy về (Dùng để phân trang, mặc địch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Class"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/ownedClasses/{classId}/meeting": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy thông tin dạy trực tuyến",
        "operationId": "Academy_GenerateOwnedSignature",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID của lớp học",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Meeting"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/ownedClasses/{classId}/schedules/{scheduleId}/status": {
      "put": {
        "tags": [
          "Academy"
        ],
        "summary": "Cập nhật trạng thái buổi học",
        "operationId": "Academy_UpdateScheduleStatus",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID của lớp học",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "scheduleId",
            "in": "path",
            "description": "ID của buổi học",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin trạng thái buổi học",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.CourseScheduleChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.CourseSchedule"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-write"
            ]
          }
        ]
      }
    },
    "/academy/classes/enrolledClasses": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy danh sách lớp học đã đăng ký",
        "operationId": "Academy_GetEnrolledClass",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Phân loại (0: lớp học, 1: hội thảo, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Vị trí bản ghi đầu tiên lấy về (Dùng để phân trang, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Số lượng tối đa bản ghi lấy về (Dùng để phân trang, mặc địch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Academy.Class"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/classes/enrolledClasses/{classId}/meeting": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy thông tin học trực tuyến",
        "operationId": "Academy_GenerateEnrolledSignature",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID của lớp học",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Meeting"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy": {
      "post": {
        "tags": [
          "Academy"
        ],
        "summary": "Đăng ký khóa học",
        "operationId": "Academy_Enroll",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin đăng ký",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.EnrollmentChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/enrollments/{enrollmentId}": {
      "get": {
        "tags": [
          "Academy"
        ],
        "summary": "Lấy thông tin đăng ký khóa học",
        "operationId": "Academy_GetEnrollment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "Id đăng ký",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Enrollment"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-read"
            ]
          }
        ]
      }
    },
    "/academy/{enrollmentId}": {
      "put": {
        "tags": [
          "Academy"
        ],
        "summary": "Duyệt đơn hàng đăng ký khóa học",
        "operationId": "Academy_ProcessEnrollment",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "Mã đơn hàng",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin đăng ký",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.EnrollmentChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Academy.Enrollment"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "academy-write"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/bank-account/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Trả về thông tin chuyển khoản tiền.",
        "operationId": "Accounts_BankAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id của user đã kết nối vào tài khoản FireAnt.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "Id tài khoản tại công ty chứng khoán của user.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.BankAccount"
            }
          },
          "404": {
            "description": "User không tồn tại"
          },
          "403": {
            "description": "Lỗi kết nối tài khoản liên kết tại công ty chứng khoán. Cần liên kết lại tài khoản giao dịch"
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Trả về danh sách tài khoản tại công ty chứng khoán của user.",
        "operationId": "Accounts_Accounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id của user đã kết nối vào tài khoản FireAnt.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.Account"
              }
            }
          },
          "404": {
            "description": "User không tồn tại"
          },
          "403": {
            "description": "Lỗi kết nối tài khoản liên kết tại công ty chứng khoán. Cần liên kết lại tài khoản giao dịch"
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/accounts/state": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lấy trạng thái tài khoản tại công ty chứng khoán",
        "operationId": "Accounts_AccountState",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id của user đã kết nối vào tài khoản FireAnt.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.Account"
            }
          },
          "404": {
            "description": "User không tồn tại"
          },
          "403": {
            "description": "Lỗi kết nối tài khoản liên kết tại công ty chứng khoán. Cần liên kết lại tài khoản giao dịch"
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/accounts/{accountId}/state": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Lấy trạng thái tài khoản tại công ty chứng khoán",
        "operationId": "Accounts_AccountState",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id của user đã kết nối vào tài khoản FireAnt.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "Id tài khoản tại công ty chứng khoán của user.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.Account"
            }
          },
          "404": {
            "description": "User không tồn tại"
          },
          "403": {
            "description": "Lỗi kết nối tài khoản liên kết tại công ty chứng khoán. Cần liên kết lại tài khoản giao dịch"
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/admin/user-info": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Lấy thông tin user theo id",
        "operationId": "Admin_GetUserInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "User id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-read"
            ]
          }
        ]
      }
    },
    "/admin/block-user": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Block 1 user",
        "operationId": "Admin_BlockUser",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin yêu cầu khóa tài khoản",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Alerts.BlockUserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/admin/yesterday-new-users": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Danh sách user mới đăng ký hôm trước",
        "operationId": "Admin_GetYesterdayNewUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Vị trí bản ghi đầu tiên lấy về (Dùng để phân trang, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Số lượng tối đa bản ghi lấy về (Dùng để phân trang, mặc địch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Users.UserProfile"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-read"
            ]
          }
        ]
      }
    },
    "/admin/news": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Tạo tin tức",
        "operationId": "Admin_InsertNews",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin tin tức",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Alerts.AdminNewsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Posts.Post"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "401": {
            "description": "Không có quyền thực hiện hành động"
          }
        },
        "security": [
          {
            "oauth2": [
              "posts-write"
            ]
          }
        ]
      }
    },
    "/admin/news/{postId}": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Sửa tin tức",
        "operationId": "Admin_UpdateNews",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "Id tin tức",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin tin tức",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Alerts.AdminNewsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Posts.Post"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "401": {
            "description": "Không có quyền thực hiện hành động"
          }
        },
        "security": [
          {
            "oauth2": [
              "posts-write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Xóa tin tức",
        "operationId": "Admin_DeleteNews",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "Id tin tức",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Thông tin UserName thao tác",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Alerts.AdminNewsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "401": {
            "description": "Không có quyền thực hiện hành động"
          }
        },
        "security": [
          {
            "oauth2": [
              "posts-write"
            ]
          }
        ]
      }
    },
    "/admin/upload-banner": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload ảnh banner quảng cáo vào NAS server",
        "operationId": "Admin_UploadBanner",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "401": {
            "description": "Không có quyền thực hiện hành động"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/admin/upload-ads-json": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload file ads.json vào NAS server",
        "operationId": "Admin_UploadAdsJson",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "401": {
            "description": "Không có quyền thực hiện hành động"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/admin/upload-ads-content": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload file JSON hoặc ảnh cho page content vào NAS server.",
        "operationId": "Admin_UploadAdsContentJson",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "401": {
            "description": "Không có quyền thực hiện hành động"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/admin/upload-file": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload file vào NAS server theo thư mục tùy chỉnh",
        "operationId": "Admin_UploadFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "401": {
            "description": "Không có quyền thực hiện hành động"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/admin/upload-image": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload ảnh vào NAS server",
        "operationId": "Admin_UploadImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "401": {
            "description": "Không có quyền thực hiện hành động"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/authentication/anonymous-login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Đăng nhập nặc danh",
        "operationId": "Authentication_AnonymousLogin",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/authentication/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Đăng nhập bằng mật khấu",
        "operationId": "Authentication_Login",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/authentication/apple-login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Đăng nhập Apple",
        "operationId": "Authentication_AppleLogin",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.ExternalLoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/authentication/google-login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Đăng nhập Google",
        "operationId": "Authentication_GoogleLogin",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.ExternalLoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/authentication/facebook-login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Đăng nhập Facebook",
        "operationId": "Authentication_FacebookLogin",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.ExternalLoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/authentication/registration": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Đăng ký tài khoản",
        "operationId": "Authentication_Register",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.RegisterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/authentication/password-reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Đặt lại mật khẩu",
        "operationId": "Authentication_ForgotPassword",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.ForgotPasswordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/authentication/email-confirmation": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Gửi email xác nhận tài khoản",
        "operationId": "Authentication_SendConfirmEmail",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.SendConfirmationEmailRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/authentication/refresh-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh token",
        "operationId": "Authentication_RefreshToken",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.RefreshTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Users.RefreshTokenResult"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/bonds/categories": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Lấy danh sách các danh mục trái phiếu",
        "operationId": "Bond_GetCategories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "option",
            "in": "query",
            "description": "0:Issuer, 1:Type, 2:RateType, 3:Currency, 4:Exchange, 5:ICB, 6:Form, 7:Method, 8:Status",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "icbLevel",
            "in": "query",
            "description": "Cấp ngành (áp dụng khi option=5)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isListing",
            "in": "query",
            "description": "1: Đang niêm yết, 0: Hủy niêm yết",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondCategoryItem"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/filter": {
      "post": {
        "tags": [
          "Bond"
        ],
        "summary": "Lọc và tìm kiếm trái phiếu",
        "operationId": "Bond_FilterBonds",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Tập hợp điều kiện lọc",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondFilterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondListItem"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/bonds/issuer/{symbol}": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Lấy danh sách trái phiếu theo mã tổ chức phát hành",
        "operationId": "Bond_GetBondsBySymbol",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondListItem"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/{bondCode}": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Lấy thông tin chi tiết một mã trái phiếu",
        "operationId": "Bond_GetBondDetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "bondCode",
            "in": "path",
            "description": "Mã trái phiếu",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondDetailViewModel"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/{bondCode}/cashflow": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Lấy lịch dòng tiền tương lai của trái phiếu",
        "operationId": "Bond_GetBondFutureCashFlow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "bondCode",
            "in": "path",
            "description": "Mã trái phiếu",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.CashFlowJson"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/stats/issuers/top-debt": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Top doanh nghiệp có dư nợ trái phiếu lớn nhất",
        "operationId": "Bond_GetTopIssuersByDebt",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "top",
            "in": "query",
            "description": "Số lượng",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.IssuerStatisticItem"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/stats/bonds/high-yield": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Danh sách trái phiếu có lãi suất cao nhất",
        "operationId": "Bond_GetHighYieldBonds",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "minRate",
            "in": "query",
            "description": "Lãi suất thấp nhất",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Số lượng",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondListItem"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/stats/bonds/maturing-soon": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Danh sách trái phiếu sắp đáo hạn",
        "operationId": "Bond_GetBondsMaturingSoon",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Số ngày",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.BondListItem"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/bonds/stats/industries": {
      "get": {
        "tags": [
          "Bond"
        ],
        "summary": "Thống kê quy mô phát hành theo ngành nghề (ICB)",
        "operationId": "Bond_GetIndustryStatistics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "top",
            "in": "query",
            "description": "Số lượng",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Cấp của ngành cần lấy",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Bonds.IndustryStatisticItem"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/brokers": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Trả về danh sách công ty chứng khoán",
        "operationId": "Brokers_Brokers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.Broker"
              }
            }
          }
        }
      }
    },
    "/brokers/{brokerId}/link-user-url": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy liên kết dùng để kết nối tài khoản tại công ty chứng khoán với tài khoản FireAnt.",
        "operationId": "Brokers_LinkUserUrl",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "returnUrl",
            "in": "query",
            "description": "Liên kết quay về sau khi kết nối thành công",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/open-account-url": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy liên kết dùng để mở tài khoản tại công ty chứng khoán.",
        "operationId": "Brokers_OpenAccountUrl",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "Id tham chiếu ứng với yêu cầu mở tài khoản",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/users/{identityNumber}": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy tên tài khoản tại công ty chứng khoán theo số chứng minh thư",
        "operationId": "Brokers_GetBrokerUserName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "identityNumber",
            "in": "path",
            "description": "Số chứng minh thư",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/job-names": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy danh sách công việc.",
        "operationId": "Brokers_GetJobNames",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Trading.Brokers.Shinhan.JobNameData"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/job-positions": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy danh sách vị trí công việc.",
        "operationId": "Brokers_GetJobPositions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Trading.Brokers.Shinhan.JobNameData"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/referrer-info": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy thông tin người giới thiệu tại công ty chứng khoán.",
        "operationId": "Brokers_GetReferrerInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC, Shinhan...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "referrerCode",
            "in": "query",
            "description": "Mã người giới thiệu",
            "required": true,
            "type": "string"
          },
          {
            "name": "referrenceCode",
            "in": "query",
            "description": "Mã giới thiệu (mặc định: fireant)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.ReferrerInfo"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          },
          "400": {
            "description": "Thông tin người giới thiệu không chính xác"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/banks": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy danh sách ngân hàng.",
        "operationId": "Brokers_GetBanks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Trading.Brokers.Shinhan.JobNameData"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/cif-branches/{branch}": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy danh sách ngân hàng.",
        "operationId": "Brokers_GetCIFBranches",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "branch",
            "in": "path",
            "description": "Id của chi nhánh",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Trading.Brokers.Shinhan.JobNameData"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/kyc-required": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Cần KYC trước để có thể giao dịch",
        "operationId": "Brokers_KycRequired",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "boolean"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/welcome-link": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy welcome link.",
        "operationId": "Brokers_GetWelcomeLink",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.WelcomeLink"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/common-banners": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "summary": "Lấy common banners.",
        "operationId": "Brokers_GetBanners",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: BSC,...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Trạng thái của banner (optional)",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Loại banner (5: banner chính, 6: banner khuyến mại) (optional)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.Banner"
            }
          },
          "404": {
            "description": "Công ty chứng khoán không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/brokers/{brokerId}/webhook": {
      "post": {
        "tags": [
          "Brokers"
        ],
        "summary": "Webhook nhận trạng thái từ CTCK.",
        "operationId": "Brokers_BrokerWebhook",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "brokerId",
            "in": "path",
            "description": "Id của công ty chứng khoán (VD: Shinhan, BSC...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "payload",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Trading.BrokerWebhookData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/broker-users": {
      "get": {
        "tags": [
          "BrokerUsers"
        ],
        "summary": "Trả về danh sách user chứng khoán đã kết nối với tài khoản FireAnt",
        "operationId": "BrokerUsers_BrokerUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.BrokerUser"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}": {
      "delete": {
        "tags": [
          "BrokerUsers"
        ],
        "summary": "Xóa user chứng khoán đã kết nối với tài khoản FireAnt",
        "operationId": "BrokerUsers_DeleteBrokerUser",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.BrokerUser"
              }
            }
          },
          "404": {
            "description": "User không tồn tại"
          }
        },
        "security": [
          {
            "oauth2": [
              "accounts-write"
            ]
          }
        ]
      }
    },
    "/chat/notify": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "Gửi thông báo",
        "operationId": "Chat_Notify",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API KEY",
            "required": true,
            "type": "string"
          },
          {
            "name": "sender",
            "in": "query",
            "description": "User ID người gửi",
            "required": true,
            "type": "string"
          },
          {
            "name": "receiver",
            "in": "query",
            "description": "User ID người nhận",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomId",
            "in": "query",
            "description": "ID của room",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "description": "Nội dung",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        }
      }
    },
    "/chat/images": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Upload ảnh cho tin nhắn",
        "operationId": "Chat_UpdateImage",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "image",
            "in": "body",
            "description": "Thông tin ảnh cần upload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Controllers.Api.ChatMessageImageUpload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "posts-write"
            ]
          }
        ]
      }
    },
    "/chat/images/{key}": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "Lấy ảnh trong thông điệp",
        "operationId": "Chat_GetChatImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Key của ảnh",
            "required": true,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "Chiều rộng ảnh (=0 nếu muốn lấy kích thước đầy đủ, mặc định = 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "height",
            "in": "query",
            "description": "Chiều cao ảnh (=0 nếu muốn lấy kích thước đầy đủ, mặc định = 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          },
          "404": {
            "description": "Không tìm thấy tài nguyên"
          }
        }
      }
    },
    "/events/search": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Tìm kiếm sự kiện",
        "operationId": "Events_Search",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Từ khóa tìm kiếm",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sắp xêp theo: 1: ngày KHQ (mặc định), 2: ngày chốt DS, 3: ngày thực hiện",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Loại sự kiện: 1: Cổ tức bằng tiền, 2: cổ tức bằng cổ phiếu, 3: Phát hành cổ phiếu cho CĐHH, 0: tất cả các loại sự kiện (mặc định) (0 = None, 1 = CashDividend, 2 = StockDiviđen, 3 = RightsIssue)",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Ngày bắt đầu (Mặc địch là Ngày hiện tại)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Ngày kết thúc (Mặc địch là Ngày hiện tại)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Vị trí bản ghi đầu tiên lấy về (Dùng để phân trang, mặc địch là 0)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Số lượng tối đa bản ghi lấy về (Dùng để phân trang, mặc địch là 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Institutions.CompanyEvent"
              }
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "symbols-read"
            ]
          }
        ]
      }
    },
    "/broker-users/{userId}/accounts/{accountId}/executions": {
      "get": {
        "tags": [
          "Executions"
        ],
        "summary": "Trả về danh sách lệnh khớp trong phiên của 1 mã chứng khoán",
        "operationId": "Executions_Executions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Id của user đã kết nối vào tài khoản FireAnt",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "Id tài khoản tại công ty chứng khoán của user",
            "required": true,
            "type": "string"
          },
          {
            "name": "instrument",
            "in": "query",
            "description": "Mã chứng khoán",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxCount",
            "in": "query",
            "description": "Số lượng bản ghi tối đa",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FireAnt.Api.Models.Trading.Execution"
              }
            }
          },
          "404": {
            "description": "User không tồn tại"
          },
          "403": {
            "description": "Lỗi kết nối tài khoản liên kết tại công ty chứng khoán. Cần liên kết lại tài khoản giao dịch"
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "orders-read"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/is-register": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Check if an account is already registered",
        "operationId": "Fmarket_CheckAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.AccountCheckResult"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/register-account": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Create new Fmarket account",
        "operationId": "Fmarket_RegisterAccount",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.RegisterAccountExtraInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.RegisterAccountResult"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/get-account-info": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Retrieve Fmarket’s account detail",
        "operationId": "Fmarket_GetAccountInfo",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.GetAccountInformationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
              "$ref": "#/definitions/FireAnt.Api.Models.Fmarket.GetAccountInformationResult"
            }
          },
          "400": {
            "description": "Có lỗi khi thực hiện thao tác"
          }
        },
        "security": [
          {
            "oauth2": [
              "user-data-write"
            ]
          }
        ]
      }
    },
    "/fmarket/accounts/link-account/create": {
      "post": {
        "tags": [
          "Fmarket"
        ],
        "summary": "Create linked fmarket account",
        "operationId": "Fmarket_CreateLinkAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Thành công",
            "schema": {
[...]
