#statusBar {
    width: 100%;
    height: 25px;
}

.gc-statusbar-zoom-panel{
    display: none !important;
}

/** Spinner */
.gc-playground_view {
    width: 100%;
    border: 1px dashed gray;
    box-sizing: border-box;
    position: relative;
}

.gc-play-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.hide {
    display: none !important;
}

.indicator-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-ring {
    display: inline-block;
    position: relative;
    z-index: 3;
}

.loading-ring div:nth-child(1) {
    animation-delay: -0.3s;
}

.loading-ring div:nth-child(2) {
    animation-delay: -0.2s;
}

.loading-ring div:nth-child(3) {
    animation-delay: -0.1s;
}

.loading-ring div {
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border: 4px solid var(--product-color);
    border: 4px solid #01C1D5;
    border-radius: 50%;
    animation: loading-ring 0.8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--product-color) transparent transparent transparent;
    border-color: #01C1D5 transparent transparent transparent;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/** / Spinner */

.red {
    color: red;
}