.container {
    padding-top: 40px;
    padding-bottom: 15px;
}
.container > a {
    padding-top: 20px;
}
.custom-bg {
    margin-top: 10px;
}
.custom-bg > h2, .custom-bg > p, .custom-bg > a {
    padding-left: 10px;
}
.title {
    padding-bottom: 10px;
}
.link {
    padding-top: 10px;
}
a {
    text-decoration: none;
    color: #0d6efd;
}
a:hover {
    text-decoration: none;
    color: #0d6efd;
}
@media (prefers-color-scheme: light) {
    body {
        background: white;
    }
    h1 {
        color: black;
    }
    h2 {
        color: black;
    }
    p {
        color: black;
    }
    .custom-bg {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background: #333;
    }
    h1 {
        color: white;
    }
    h2 {
        color: white;
    }
    p {
        color: white;
    }
    .custom-bg {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }
}